@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);


/*see: http://www.awwwards.com/web-design-awards/werkstatt-wundersite for ref*/

/* scale all images, and media to accomodate responsive layout. */
img, video, audio, iframe, table, form { 
  width:100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}


/********** Global **********/


h1 { 
  font-family: Montserrat, arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;
  font-weight: 400;
}

h2 { 
  font-family: 'Playfair Display', georgia, serif;
  font-size: 4.5em;
  font-weight: 400;
  line-height: auto;
  color: #333;
}

h3 { 
  font-family: 'Playfair Display', georgia, serif;
  font-size: 1em;
  font-weight: 400 italic;
}

body {
  background: #fff;
}

p { /* select all <p> */
  font-size: 1em; /* ?pt, 100%, 1em */
  line-height: 1.5em;
}


/********** Fixes **********/

* {
  margin: 0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}


/* Columns */
.wrapper {
  width: 960px;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0 3px 10px #333;
}

.logo {
    float: left;
    width: 5%;
    padding: 5px;
    margin: 4px;
  }

 .social {
    float: left;
    width: 2%;
    padding: 3px;
    margin: 2px;
    background-image: "images/social/icon-facebook.png";
 }

.col-1 {
    float: left;
    width: 30%;
    background: #fff;
    padding: 10px;
    margin: 10px;
  }

.col-2 {
    float: left;
    width: 10%;
    padding: 0;
    margin: 10px;
  }

[class*="col-"] {
margin-left: 2%;
}

.first {
  margin-left: 0%;
}



/* NAVBAR */

#navbar {
  font-family: Montserrat, arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;
  font-weight: 400;
  width: 100%;
  position: absolute;
  top: 2%;
  left: 2%;
  text-decoration: none;

}

#navbar nav a{
  display: inline-block;
  font-size: .80em;
  width: 12%;
  padding: 20px 0;
  color: black;
  text-align: center;
  text-decoration: none;
}

/* Link Hover Color */
#navbar nav a.selected {
  font-weight: 700;
  border-bottom: 3px solid #000 ;
}

#navbar a:hover {
font-weight: 700;
border-bottom: 3px solid #000;
}

#background-tone{
  padding-top: 150px;
  background-color: #eee;
}
/*///////// ICONS ////////////*/

i {
  color: black;
  padding: 10px;
}

.center{
  text-align: center
}

/*///////// FOOTER ////////////*/

footer {
  font-family: Montserrat, arial, sans-serif;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 2px;
  text-align: center;
  color: #555;
  padding: 10px 0 20px;
  text-decoration: none;

}

  footer a {
    color: #000;
    vertical-align: bottom;
    text-decoration: none;
  }


</div>


